        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <script>
            let selectedAvisoId = null, modal = null, page = <%- JSON.stringify(page) %>, role = <%- user.role %>, popover = null, tooltipList = null;
            const nuevoAvisoData = <%- typeof nuevoAvisoData !== 'undefined' && nuevoAvisoData ? JSON.stringify(nuevoAvisoData) : 'null' %>, uniprofile = '<%= user.uniprofile %>', userId = <%- user.id %>;
            const tiposAviso = ["Sugerencia", "Incidencia", "Felicitación"];
            const roles = ["Usuario", "Técnico"];
            window.onload = () => {//evento que se llama cuando la página termina de cargar en el navegador.
                const modalElement = document.getElementById('exampleModal');
                modal = new bootstrap.Modal(modalElement);

                //la página se genera con tipo aviso numerico (0, 1, 2...) este evento se llama cuando termina de cargar, y modificamos la tabla convenientemente con el array tiposAviso
                const tipoAvisoElems = document.getElementsByClassName("tipoAviso");
                if(tipoAvisoElems) {
                    for(let i = 0; i < tipoAvisoElems.length; i++) {
                        tipoAvisoElems[i].innerText = tiposAviso[tipoAvisoElems[i].innerText];
                    }
                }

                //cambiar el índice de rol por el nombre en la tabla
                const roleElems = document.getElementsByClassName("role");
                if(roleElems) {
                    for(let i = 0; i < roleElems.length; i++) {
                        roleElems[i].innerText = roles[roleElems[i].innerText];
                    }
                }

                //activar tooltips de bootstrap
                const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
                tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
            }
            window.onscroll=function(){
                scroll();
            }
            var header=document.getElementById("header");
            var sticky=header.offsetTop;

            function scroll(){
                if(window.pageYOffset>sticky){
                    header.classList.add("sticky");
                }
                else{
                    header.classList.remove("sticky");
                }
            }

            function openModal(data, showTecnicos = false) {
                selectedAvisoId = data.id;
                document.getElementById("exampleModalLabel").innerText = `Aviso ${data.id}: ${tiposAviso[data.tipo]}`;
                document.getElementById("modalFecha").innerText = `Fecha: ${data.fecha}`;
                document.getElementById("modalTipo").innerText = `${data.categoria}: ${data.tipo !== 2 ? data.funcion : 'felicitación'}`
                document.getElementById("modalCreador").innerText = `Creador: ${data.creador}`;
                document.getElementById("modalPerfil").innerText = `Perfil: ${data.uniprofile}`;
                
                const textareaObservaciones = document.getElementById("floatingTextarea2");
                textareaObservaciones.value = data.texto;
                textareaObservaciones.readOnly = true;

                if(data.comentario && data.comentario.length > 0 || (role === 1 && (page === 'avisos' || page === 'entrantes'))) {
                    document.getElementById("divModalComentario").classList.remove("hide");
                    const textareaComentario = document.getElementById("modalComentario");
                    textareaComentario.value = data.comentario;
                    if(page === 'historico' || page === 'avisos' && role === 0) textareaComentario.readOnly = true;
                } else {
                    document.getElementById("divModalComentario").classList.add("hide");
                }
                const divtecnicos = document.getElementById("divTecnicos");
                if(showTecnicos) divtecnicos.classList.remove("hide");
                else if(divtecnicos) divtecnicos.classList.add("hide");

                const botonResolverAviso = document.getElementById("botonResolverAviso");
                if(botonResolverAviso) {
                    botonResolverAviso.classList.remove("hide");
                    if(page === 'entrantes') {
                        botonResolverAviso.innerText = `Eliminar aviso`;
                        //console.log("openModal tecnicoId", data.tecnicoId, userId);
                        if(data.tecnicoId && data.tecnicoId !== userId) {
                            botonResolverAviso.disabled = true;
                            tooltipList[0]._isEnabled = true;
                        }
                        else {
                            botonResolverAviso.disabled = false;
                            tooltipList[0]._isEnabled = false;
                        } 
                    }
                    else if(page === 'avisos') botonResolverAviso.innerText = `Resolver aviso`;
                }

                document.getElementById(`modal-body-usuario`).classList.add("hide");
                const modalNuevoAviso = document.getElementById(`modal-body-nuevo`);
                if(modalNuevoAviso) modalNuevoAviso.classList.add("hide");
                document.getElementById(`modal-body-aviso`).classList.remove("hide");
                modal.show();
            }
            function openModalUsuario() {
                document.getElementById(`modal-body-usuario`).classList.remove("hide");
                document.getElementById(`modal-body-aviso`).classList.add("hide");
                const modalNuevoAviso = document.getElementById(`modal-body-nuevo`);
                if(modalNuevoAviso) modalNuevoAviso.classList.add("hide");

                document.getElementById("exampleModalLabel").innerText = `Perfil de usuario`;
                const botonResolverAviso = document.getElementById("botonResolverAviso");
                if(botonResolverAviso) botonResolverAviso.classList.add("hide");
                modal.show();
            }

            function openModalNuevoAviso() {
                document.getElementById(`modal-body-nuevo`).classList.remove("hide");
                document.getElementById(`modal-body-usuario`).classList.add("hide");
                document.getElementById(`modal-body-aviso`).classList.add("hide");
                document.getElementById("exampleModalLabel").innerText = `Crear nuevo aviso`;

                modal.show();
            }

            function stopEventPropagation(event,) {
                event.stopPropagation();
            }

            function asignarTecnico(event, idAviso, data) {
                event.stopPropagation();
                openModal(data, true);
            }

            function validarFormulario() {
                document.getElementById("inputIdAviso").value = selectedAvisoId;
            }

            function onTipoAvisoChange() {
                const tipoAviso = document.getElementById("tipoAvisoSelect").value;
                if(tipoAviso === '0' || tipoAviso === '1') {//sugerencias o incidencias
                    document.getElementById("modalSugerenciasIncidencias").classList.remove("hide");
                    document.getElementById("modalFelicitacion").classList.add("hide");
                    document.getElementById("modalNuevoAvisoTextDiv").classList.remove("hide");
                    const selectFelicitacion = document.getElementById("tipoAvisoSelectFelicitacion");
                    selectFelicitacion.required = false;
                    selectFelicitacion.value = "";
                    const categoriaSelect = document.getElementById("categoriaSelect");
                    categoriaSelect.required = true;
                    document.getElementById("functionSelect").required = true;
                    categoriaSelect.innerHTML = `<option selected disabled value="">Elige...</option>`;
                    Object.keys(nuevoAvisoData.sugerenciasIncidencias).forEach(k => {
                        if(nuevoAvisoData.sugerenciasIncidencias[k] && nuevoAvisoData.sugerenciasIncidencias[k][uniprofile] && nuevoAvisoData.sugerenciasIncidencias[k][uniprofile].length > 0) {
                            categoriaSelect.innerHTML += `<option value="${k}">${k}</option>`
                        }
                    });

                    /*//volver a poner los required en los selects de sugerencia o incidencia
                    const ISselects = document.getElementsByClassName("tipoAvisoSelectIS");
                    for(let i = 0; i < ISselects.length; i++) {
                        //console.log(typeof ISselects[i].dataset.required, ISselects[i].dataset.required);
                        ISselects[i].required = ISselects[i].dataset.required === "true" ? true : false;
                    }*/
                } else {//felicitacion
                    document.getElementById("modalSugerenciasIncidencias").classList.add("hide");//ocultamos el div de sugerencia/incidencia (contiene los selects con los tipos de incidencia/sugerencia)
                    document.getElementById("modalFelicitacion").classList.remove("hide");//mostramos el div de felicitacion (contiene el select con los tipos de felicitacion)
                    document.getElementById("modalNuevoAvisoTextDiv").classList.remove("hide");//mostramos el texbox de observaciones
                    document.getElementById("tipoAvisoSelectFelicitacion").required = true;//ponemos el atributo required a el select de tipo felicitacion
                    const categoriaSelect = document.getElementById("categoriaSelect");
                    categoriaSelect.required = false;//ponemos que no sean requeridos para el formulario los dropdowns de incidencia/sugerencia 
                    categoriaSelect.value = "";
                    document.getElementById("functionSelect").required = false;

                    /*const ISselects = document.getElementsByClassName("tipoAvisoSelectIS");//ponemos con un bucle el atributo required de los selects de incidencia/sugerencia a false para que no de errores
                    for(let i = 0; i < ISselects.length; i++) {
                        ISselects[i].required = false
                        ISselects[i].value = "";
                    }*/
                }
                document.getElementById("modalNuevoAvisoText").required = true;
            }

            function onCategoriaAvisoChange() {
                const categoriaSelect = document.getElementById("categoriaSelect");
                const categoria = categoriaSelect.value;
                const functionSelect = document.getElementById("functionSelect");
                functionSelect.innerHTML = `<option selected disabled value="">Elige...</option>`;
                if(nuevoAvisoData.sugerenciasIncidencias[categoria] && nuevoAvisoData.sugerenciasIncidencias[categoria][uniprofile]) {
                    nuevoAvisoData.sugerenciasIncidencias[categoria][uniprofile].forEach(f => functionSelect.innerHTML += `<option value="${f}">${f}</option>`);
                }
            }

            function resolverAviso() {
                //console.log("resolverAviso", selectedAvisoId);
                const textarea = document.getElementById("modalComentario");
                const comentario = textarea.value;
                if(!comentario || comentario.length === 0) {
                    //console.log("resolverAviso comentario vacio");
                    if(!popover) popover = new bootstrap.Popover(textarea, {content: "Debes especificar una razón para resolverlo."});
                    popover.show();
                } else {
                    window.location.href = `/resolverAviso/${selectedAvisoId}?comment=${comentario}&eliminado=${page === 'entrantes' ? true : false}`;
                }
            }

            function busqueda() {
                let td, text;
                const searchValue = document.getElementById("inputBusqueda").value.toLowerCase();
                const table = document.getElementById("tabla");
                const tr = table.getElementsByTagName("tr");
                //console.log("busqueda", searchValue);
                for(let i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByClassName("searchable")[0];
                    if(td) {
                        text = td.textContent || td.innerText;
                        if(text.toLowerCase().indexOf(searchValue) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        </script>
    </body>
</html>