<%- include('partials/header') -%>
<%- include(`partials/nav-${user.roleName}`) -%>
<table class="table table-dark m-auto table-striped table-hover w-75">
    <thead>
        <tr>
            <!--<th scope="col">Fecha</th>
            <th scope="col">Texto</th>
            <th scope="col">Tipo</th>
            <th scope="col">Técnico</th>-->
            <% columns.forEach(c => { %>
              <% if(c.roles && c.roles.includes(user.role) && c.show !== false){ %>
                <th scope="col"><%= c.name %></th>
              <% } %>
            <% });%>
        </tr>
    </thead>
    <tbody id="tabla">
      <% dataArray.forEach(d => { %>
        <% if(page !== 'usuarios') { %>
          <tr onclick="openModal(<%= JSON.stringify(d) %>)">
        <% } else { %>
          <tr>
        <% } %>
          <% columns.forEach(c => { %>
            <% if(c.roles && c.roles.includes(user.role) && c.show !== false){ %>
              <% if(c.render === 'accionesEntrantes'){ %>
                <td>
                  <div class="btn-group" role="group" aria-label=" ">
                    <button type="button" class="btn btn-success" title="Asignar técnico" onclick="asignarTecnico(event, <%= d.id %>, <%= JSON.stringify(d) %>)" <%= d.tecnicoId ? 'disabled' : '' %>><i class="bi bi-person-plus-fill"></i></button>
                    <!--<a onclick="stopEventPropagation(event)" title="Eliminar aviso" class="btn btn-danger <%= //d.tecnicoId && d.tecnicoId !== user.id ? 'disabled' : '' %>" href="<%= //d.tecnicoId && d.tecnicoId !== user.id ? '#' : '/deleteAviso/' + d.id %>"><i class="bi bi-trash3"></i></a>-->
                  </div>
                </td>
              <% } else if(c.render === 'accionesUsuarios'){ %>
                <td>
                  <div class="btn-group" role="group" aria-label=" ">
                    <a onclick="stopEventPropagation(event)" title="Desactivar usuario" class="btn btn-danger" href="/disableUser/<%= d.id %>"><i class="bi bi-trash3"></i></a>
                  </div>
                </td>
              <% } else if(c.render === 'role'){ %>
                <td class="role"><%= d[c.data] %></td>
              <% } else if(c.render === 'date'){ %>
                <td class="dontbreak"><%= d[c.data] %></td>
              <% } else if(c.data === 'tipo'){ %>
                <td class="tipoAviso"><%= d[c.data] %></td>
              <% } else if(typeof d[c.data] === 'string'){ %>
                <td class="break <%= c.searchable === true ? 'searchable' : '' %>"><%= d[c.data].length > 199 ? d[c.data].slice(0, 200) + '...' : d[c.data] %></td>
              <% } else { %>
                <td><%= d[c.data] %></td>
              <% } %>
            <% } %>
          <% });%>
        </tr>
      <% });%>
        <!--<tr onclick="openModal()">
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr onclick="openModal()">
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr onclick="openModal()">
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
        </tr>-->
    </tbody>
</table>
<% if(user.roleName === 'usuario' && page === 'avisos'){ %>
  <div class="mt-4 m-auto w-75">
    <button type="button" class="btn btn-primary" onclick="openModalNuevoAviso()">Nuevo aviso</button>
  </div>
<% } %>
<div style="height: 200vh;"></div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content bg-dark text-white">
        <div class="modal-header">
          <h1 class="modal-title fs-4" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body hide" id="modal-body-aviso">
          <p class="mb-0 fs-5" id="modalFecha">Fecha:</p>
          <p class="mb-0 fs-5" id="modalTipo">Tipo:</p>
          <p class="mb-0 fs-5" id="modalCreador">Creador:</p>
          <p class="mb-0 fs-5" id="modalPerfil">Perfil:</p>
          <div class="mt-3 form-floating">
            <textarea class="form-control bg-dark text-white" placeholder="Observación" id="floatingTextarea2" style="height: 200px"></textarea>
            <label for="floatingTextarea2">Observaciones</label>
          </div>
          <div id="divModalComentario" class="mt-4 form-floating hide">
            <textarea class="form-control bg-dark text-white" placeholder="Comentario" id="modalComentario" style="height: 200px"></textarea>
            <label for="modalComentario">Comentarios</label>
          </div>
          <% if(tecnicos && user.roleName === 'tecnico') { %>
          <div class="mt-3" id="divTecnicos">
            <form method="POST" action="/asignarTecnico" onsubmit="return validarFormulario()">
              <div class="container">
                <div class="row">
                  <div class="col-12">
                    <label for="tecnicoSelect" class="form-label">Seleccione un técnico</label>
                    <select name="tecnico" id="tecnicoSelect" class="form-select bg-dark text-white" required>
                      <option selected disabled value="">Elige...</option>
                      <% tecnicos.forEach(t => { %>
                        <option value="<%= t.id %>"><%= t.username %></option>
                      <% });%>
                    </select>
                    <input name="idAviso" class="hide" type="number" id="inputIdAviso">
                  </div>
                  <div class="col-8">
                    <button type="submit" class="btn btn-primary mt-4 ml-5" id="submitAsignarTecnico">Asignar Técnico</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <% } %>
        </div>
        <div class="modal-body hide" id="modal-body-usuario">
          <div class="container">
            <div class="row">
              <div class="col-4"><img width="230" height="256" alt="<%= user.username %>" src="/imagenUsuario"></div>
              <div class="col">
                <h1><%= user.username %></h1>
                <div class="col-8">Fecha de creación: <%= user.fecha %></div>
                <div class="col-8">Perfil: <%= user.uniprofile %></div>
                <div class="col-8">Rol: <%= user.roleName %></div>
                <div class="col-8">Contraseña: <%= user.password %></div>
                <div class="col-8">Avisos realizados: <%= user.avisos %></div>
                <div class="col-8">Incidencias: <%= user.incidencias %></div>
                <div class="col-8">Sugerencias: <%= user.sugerencias %></div>
                <div class="col-8">Felicitaciones: <%= user.felicitaciones %></div>
              </div>
            </div>
            <div class="row">
              <div class="col-8"></div>
            </div>
          </div>
        </div>
        <% if(typeof nuevoAvisoData !== 'undefined' && nuevoAvisoData) {//primero checa que la variable exista (que esta definida), luego que no sea null o undefined %>
          <div class="modal-body hide" id="modal-body-nuevo">
            <form method="POST" action="/nuevoAviso" class="row g-3">
              <div class="col-8">
                <label for="tipoAvisoSelect" class="form-label">Seleccione un tipo de aviso</label>
                <select name="tipoAviso" id="tipoAvisoSelect" class="form-select bg-dark text-white" onchange="onTipoAvisoChange()" required>
                  <option selected disabled value="">Elige...</option>
                  <option value="0">Sugerencia</option>
                  <option value="1">Incidencia</option>
                  <option value="2">Felicitación</option>
                </select>
              </div>
              <div class="hide" id="modalSugerenciasIncidencias"><!-- apartado con los tipos de sugerencias/incidencias -->
                <div class="col-8">
                  <label for="categoriaSelect" class="form-label">Categoria:</label>
                  <select id="categoriaSelect" name="categoria" onchange="onCategoriaAvisoChange()" class="form-select bg-dark text-white tipoAvisoSelectIS">
                    <option selected disabled value="">Elige...</option>
                    <%  //Object.keys(nuevoAvisoData.sugerenciasIncidencias).forEach(k => { %>
                      <!--<option value="<%= //k %>"><%= //k %></option>-->
                    <% //});%>
                  </select>
                </div>
                <div class="col-8">
                  <label for="functionSelect" class="form-label">Función:</label>
                  <select id="functionSelect" name="funcion" class="form-select bg-dark text-white tipoAvisoSelectIS">
                    <option selected disabled value="">Elige...</option>
                  </select>
                </div>
              </div>
              <div class="hide" id="modalFelicitacion"><!-- apartado con los tipos de felicitaciones -->
                <div class="col-8">
                  <label for="tipoAvisoSelectFelicitacion" class="form-label">Tipo de felicitación</label>
                  <select value="" name="tipoAvisoFelicitacion" id="tipoAvisoSelectFelicitacion" class="form-select bg-dark text-white">
                    <option selected disabled value="">Elige...</option>
                    <% nuevoAvisoData.felicitaciones.forEach(f => { //para cada tipo de felicitacion%>
                      <option value="<%= f %>"><%= f %></option>
                    <% });%>
                  </select>
                </div>
              </div>
              <div class="form-floating hide" id="modalNuevoAvisoTextDiv"><!-- apartado con un apartado de texto para las observaciones (sugerencia, incidencia, felicitacion) -->
                <textarea name="observaciones" class="form-control bg-dark text-white" placeholder="Observación" id="modalNuevoAvisoText" style="height: 200px"></textarea>
                <label for="modalNuevoAvisoText">Observaciones</label>
              </div>
              <button type="submit" class="btn btn-primary" id="submitNuevoAviso">Crear aviso</button>
            </form>
          </div>
        <% } %>
        <div class="modal-footer">
          <% if(user.roleName === 'tecnico' && (page === 'avisos' || page === 'entrantes')){ %>
            <span class="d-inline-block" id="tooltipEliminarAviso" tabindex="0" data-bs-toggle="tooltip" data-bs-title="No puedes eliminar avisos asignados a otros técnicos">
              <button id="botonResolverAviso" type="button" class="btn btn-primary" onclick="resolverAviso()">Resolver aviso</button>
            </span>
          <% } %>
        </div>
      </div>
    </div>
</div>
<%- include('partials/footer') -%>